
   <!--FORM LOGIN/SIGNUP-->
    <h1>LSON</h1>


    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animated flipInY">
                    <div class="card-header bg-dark text-white text-center">
                        <h3 id="formHeader">Inicio</h3>                       
                    </div>
                    <div class="card-body" >
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                                
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="pass">
                            </div>

                        <div>
                      </div>

                            <div class="form-group form-check">
                                <div id="signUp"><a (click)="registrarte()" id="registra" >No tienes cuenta? Registrate!!!</a></div>
                            </div>
                            <button  class="btn btn-danger btn-block" (click)="acceso()">LogIn</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

